<!DOCTYPE html>
<html>
<head th:replace="~{layout :: head}">
</head>
<body class="authentication-body">
    <div class="authentication-wrapper">
        <main>
			<h1>Sign Up</h1>
			<form method="post" th:action="@{/account/register}" th:object="${dto}">
				<input type="hidden" name="role" th:value="${role}"/>
				<table>
					<tbody>
						<tr>
							<td>
								<label for="username">Username*</label>
							</td>
							<td>
								<input type="text" name="username" placeholder="Username" th:value="*{username}">
								<div class="field-validation-error" th:errors="*{username}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="password">Password*</label>
							</td>
							<td>
								<input type="password" name="password" placeholder="Password">
								<div class="field-validation-error" th:errors="*{password}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="passwordConfirmation">Pasword Confirmation*</label>
							</td>
							<td>
								<input type="password" name="passwordConfirmation" placeholder="Password Confirmation">
								<div class="field-validation-error" th:errors="${dto}"></div>

							</td>
						</tr>
						<tr>
							<td>
								<label for="name">Name*</label>
							</td>
							<td>
								<input type="text" name="name" id="name" th:value="*{name}">
								   <div class="field-validation-error" th:errors="*{name}"></div>
							</td>
						</tr>
						<tr>
							<td>
								<label for="address">Address</label>
							</td>
							<td>
								<textarea name="address" id="address" th:text="*{address}"></textarea>
								<div class="field-validation-error" th:errors="*{address}"></div>
							</td>
						</tr>
					</tbody>
				</table>
				   <button type="submit">Register</button>
			</form>
			<div class="link-container">
			    <a th:href="@{/account/login}">Back to login page</a>
			</div>
        </main>
    </div>
</body>
</html>