<!DOCTYPE html>
<html lang="en">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Troll Market</title>
    <link rel="icon" th:href="@{/troll.png}" type="image/icon">
    <link rel="stylesheet" th:href="@{/css/normalize.css}" />
	<link rel="stylesheet" th:href="@{/css/my-style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header th:fragment="header">
        <div class="bread-crumbs">
			<span>TROLL MARKET</span>
		</div>
		<div class="user-wrapper">
			<div class="user">
				<a th:href="@{/account/change-password(username=${#authentication.getPrincipal().getUsername()})}" th:text="${#authentication.getPrincipal().getUsername()}"  class="full-name"></a>
				<span class="role" th:text="${#authentication.getAuthorities().toArray()[0].authority}"></span>
			</div>
			<div class="sign-out">
				<form th:action="@{/logout}" method="POST">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					<button type="submit"><i class="fas fa-sign-out-alt"></i></button>
				</form>
			</div>
		</div>
    </header>
    <nav th:fragment="nav">
        <a class="menu home" th:href="@{/}">
			<i class="fas fa-home"></i>
			<span>Home</span>
		</a>
		<a class="menu profile" th:href="@{/profile(username=${#authentication.getPrincipal().getUsername()})}" th:unless="${#authentication.getAuthorities().toArray()[0].authority} == 'Admin'">
			<i class="fas fa-user"></i>
			<span>Profile</span>
		</a>
		<a class="menu shop" th:href="@{/shop}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Buyer'">
            <i class="fa-brands fa-shopify"></i>
            <span>Shop</span>
		</a>
		<a class="menu merchandise" th:href="@{/merchandise(username=${#authentication.getPrincipal().getUsername()})}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Seller'">
			<i class="fas fa-gift"></i>
			<span>Merchandise</span>
		</a>
		<a class="menu shipment" th:href="@{/shipper}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Admin'">
			<i class="fas fa-truck-fast"></i>
			<span>Shipment</span>
		</a>
		<a class="menu my-cart" th:href="@{/my-cart(username=${#authentication.getPrincipal().getUsername()})}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Buyer'">
			<i class="fas fa-cart-shopping"></i>
			<span>My Cart</span>
		</a>
		<a class="menu admin" th:href="@{/admin}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Admin'">
			<i class="fas fa-user-tie"></i>
			<span>Admin</span>
		</a>
		<a class="menu history" th:href="@{/history}" th:if="${#authentication.getAuthorities().toArray()[0].authority} == 'Admin'">
			<i class="fas fa-receipt"></i>
			<span>History</span>
		</a>
    </nav>
    <div class="menu-name"  th:fragment="menu">
        <h3 th:text="${menuName}"></h3>
    </div>
    
</body>
</html>