<!DOCTYPE html>
<html lang="en">
<head th:replace="~{layout :: head}">
</head>
<body>
    <div class="modal-wrapper detail disable">
		<main class="merchandise-info">
            <table>
                <tbody>   
                    <tr>
                        <td><label>Name</label></td>
                        <td name="merchandiseName">
                        </td>
                    </tr>            
                    <tr>
                        <td><label>Category</label></td>
                        <td name="categoryName">
                        </td>
                    </tr>            
                    <tr>
                        <td><label>Description</label></td>
                        <td name="description">
                        </td>
                    </tr>            
                    <tr>
                        <td><label>Price</label></td>
                        <td name="price">
                        </td>
                    </tr>            
                    <tr>
                        <td><label>Seller Name</label></td>
                        <td name="sellerName">
                        </td>
                    </tr>          
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            <button class="green-button close-button" type="button">Close</button>
                        </td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>
		</main>
	</div>
    <div class="modal-wrapper form disable">
        <form method="post" class="upsert-form">
            <input type="hidden" name="merchandiseId" id="merchandiseId">
            <input type="hidden" name="buyerUsername" id="buyerUsername" th:value="${#authentication.getPrincipal().getUsername()}"/>
            <table>
                <tbody>   
                    <tr>
                        <td><label>Quantity*</label></td>
                        <td>
                            <input type="number" id="quantity" name="quantity">
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Shipment*</label></td>
                        <td>
                            <select name="shipperId" id="shipperId">
                            </select>
                            <div class="field-validation-error"></div>
                        </td>
                    </tr>          
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>
                            <button class="green-button add-button" type="button">Add to Cart</button>
                            <button class="green-button cancel-button" type="button">Cancel</button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </form>
	</div>
    <header th:replace="~{layout :: header}"></header>
    <nav th:replace="~{layout :: nav}"></nav>
    <main>
        <div th:replace="~{layout :: menu}"></div>
		<form method="get" class="filter" th:action="@{/shop}">
			<table>
				<tbody>
					<tr>
						<td>
							<label for="merchandiseName">Name</label>
						</td>
						<td>
							<input type="text" name="merchandiseName" th:value="${merchandiseName}" placeholder="Merchandise Name...">
						</td>
					</tr>
					<tr>
						<td>
							<label for="categoryName">Category</label>
						</td>
						<td>
                            <select name="categoryId" id="categoryId">
                                <option th:value=null>Select Category...</option>
                                <option 
                                    th:each="category:${categoryOptions}"
                                    th:object="${category}"
                                    th:value="*{categoryId}"
                                    th:text="*{categoryName}"
                                    th:selected="*{isSelected}"
                                ></option>
                            </select>
						</td>
					</tr>
					<tr>
						<td>
							<label for="merchandiseDescription">Description</label>
						</td>
						<td>
							<input type="text" name="merchandiseDescription" th:value="${merchandiseDescription}" placeholder="Description...">
						</td>
					</tr>
				</tbody>
			</table>
			<button class="green-button" type="submit">Search</button>
		</form>
		<div class="grid-container shop-index">
            <div class="alert alert-success" hidden></div>
			<table>
				<thead>
					<th>Action</th>
					<th>Name</th>
					<th>Price</th>
				</thead>
				<tbody>
					<tr th:each="shop:${shopGrid}" th:object="${shop}">
						<td>
                            <a class="green-button add-cart-button" th:attr="merchandise-id=*{merchandiseId}">Add to Cart</a>
							<a class="green-button detail-info-button" th:attr="merchandise-id=*{merchandiseId}">Detail Info</a>
						</td>
						<td th:text="*{merchandiseName}"></td>
						<td th:text="*{price}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3">
							<div class="pagination">
								<div th:text="|page ${currentPage} of ${totalPages}|"></div>
								<div>
									<a th:each="page : ${#numbers.sequence(1, totalPages)}"
									   th:href="@{/shop(
                                                        page=${page},
                                                        merchandiseName=${merchandiseName}, 
                                                        categoryName=${categoryName},
                                                        merchandiseDescription=${merchandiseDescription},
                                                        )}"
									   th:text="${page}" class="number"></a>
								</div>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</main>
    <script th:src="@{/js/shop.js}"></script>
</body>
</html>